body {
    background-image: url("src/pics/background.png");
}
.box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont{
    display: flex;
    flex-direction: column;

}
.buttons{
    margin-top: 6px;
    margin-bottom: 12px;
    width: 100px;
    height: 33px;
    border: solid 1px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(181, 197, 218);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}
.buttons:hover{
    background-color: rgb(122, 160, 209);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: rgb(52, 52, 53);
}