.all-container{
    display: flex;
    justify-content: center;
}
.contenedor {
    margin-top: 20px;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    /* background-color: whitesmoke; */
    background-image: url("src/pics/background1.png");
}
.contenedor:hover {
    /* transform: translateY (10px); */
    box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.4);
}
.pic{
    margin-top: 40px;
    width: 200px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
}
.name{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;  
    font-weight: bolder;
}
span {
    font-weight: bold;
    color: brown;
}
#link{
    color: blue;
    
}
.descript{
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}

.container-buttones{
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    
}